extends layout

block content

  .row
    .col-12
      // Add your About page content here
      p Welcome to Safety Car Zone, your trusted partner for car services. We are dedicated to providing high-quality car wash, repair, and maintenance services to keep your vehicle in top shape.

      p Our team of skilled professionals is committed to delivering excellence in every service we offer. Whether it's a routine car wash or complex repairs, you can count on us for reliable and affordable solutions.

      // You can add more content as needed
