extends layout

block content
  #banner.page-header
    .row
      .col-lg-6.order-lg-1.align-self-end
        h1 Safety Car Zone
        small &nbsp;the best place for u!
      .col-lg-6.order-lg-2
        br
        br
        br
        img.img-fluid.rounded(src='https://t3.ftcdn.net/jpg/04/28/55/32/360_F_428553299_wailDY6XsQ2ctvJ5cQSbj7LVbeudHaX3.webp', alt='Safety Car Zone')
  // Add any other content you need in your template
